@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  font-family: "JetBrains Mono", monospace;
}

#heading {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: xx-large;
}
#heading {
  margin: 0 auto;
}
#canvas {
  background: #99afa3;
  display: block;
  margin: 0 auto;
}
#c {
  color: lightgray;
  display: block;
  margin: 20px auto;
  text-align: center;
  width: 20%;
  font-size: large;
  font-weight: 700;
  border-radius: 3px;
  padding: 5px 10px;
}
#timerel {
  width: 20%;
  color: lightgray;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: large;
  font-weight: 700;
  border-radius: 3px;
  padding: 5px 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #41d9f4ad;
  color: #fff;
  font-weight: 900;
  margin: auto;
  padding: 0;
  border-radius: 3px;
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.close {
  display: none;
}

.modal-body {
  padding: 2px 16px;
}

.reloadBtn{
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    padding: 8px 15px;
    margin: 10px 0 5px;
    border: none;
    border-radius: 3px;
    background-color: #0a2372;
    color: #fff;

    transition: all .2s linear;
}

.reloadBtn:hover{
    background-color: #1758a3;
    font-weight: 700;
    transform: scale(1.1);
}

#wrapper {
  margin: 20px auto;
}

#heading {
  background-color: #a59e9a;
  text-decoration-style: solid;
  color: #f8f8f8;
  width: 40%;
  margin-top: 0px;
  margin-bottom: 10px;
}

.canvas {
  margin-left: auto;
  margin-right: auto;
}

#demo {
  cursor: pointer;
}


@-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }